*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: #7d2ae8 ;
} 
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #555;
    margin-right: 40px;
    font-weight: 500;
    transition: 3s;
}
.navigation a:hover {
    color: #7d2ae8;
}
.btn-talk {
    color: #fff;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content {
    max-width: 500px;
    color: #555;
}
.content h2 {
    font-size: 3em;
}
.content h2 span {
    color: #7d2ae8;
}
.content h4 {
    font-size: 2em;
}
.content p {
    padding: 20px 0;
}
.btn-group a {
    color: #fff;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover {
    color: #7d2ae8;
    background: transparent;
}
.social-icon {
    position: absolute;
    bottom: 50px;
}
.social-icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid#fff;
    outline: 2px solid #7d2ae8;
    transform: .3s;
}
.social-icon a:hover {
    transform: tra(-5px);

}
.social-icon a i {
    color: #fff;
}